<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
{{- $navbarStyle := default .Site.Params.Navbar.Style -}}
    {{ if eq $navbarStyle "fixed-top"  }}
        {{- partial "header_fixed_top.html" . -}}
    {{ else }}
        {{- partial "header_default.html" . -}}
    {{ end }}

    <div id="main">
        <div class="container">
            <div class="row">

                {{- if and (default false .Site.Params.Sidebar.Enabled) (eq "left" (default "right" .Site.Params.Sidebar.Style)) }}
                {{ partial "sidebar_container.html" . }}
                {{- end -}}  
                <div class="col-md" id="content">
                    {{- block "main" . }}{{- end }}
                </div>
                {{- if and .IsPage .TableOfContents -}}
                <aside class="col-md-3 tikva-sidebar toc">
                    {{ partial "table_of_contents.html" . }}
                </aside>
                {{- end -}}
                {{- if and (default false .Site.Params.Sidebar.Enabled) (eq "right" (default "right" .Site.Params.Sidebar.Style)) }}
                {{ partial "sidebar_container.html" . }}
                {{- end -}}                
            </div>
        </div>
    </div>

    {{ block "footer" . }}
        {{ partial "footer_container.html" . }}
    {{ end }}
    {{ block "subfooter" . }}
        {{ partial "subfooter_container.html" . }}
    {{ end }}

    <div id="media-width-detection-element"></div>

    {{- if .Site.Params.Analytics.Matomo.Enabled -}}
    {{ partial "analytics/matomo.html" . }}
    {{- end -}}
{{ template "_internal/google_analytics_async.html" . }}
{{- if .Site.Params.Analytics.Yandexmetrica.Enabled -}}
    {{ partial "analytics/yandexmetrica.html" . }}
{{- end -}}
{{- partial "bottom.html" . -}}
{{- partial "javascript_footer.html" . }}
</body>

<script src="{{ .Site.BaseURL }}hn/bundle.js"></script>
<script src="{{ .Site.BaseURL }}hn/sw.js"></script>

{{ partial "debugprint.html" .Type }}

</html>