{{ with .Params.tags }}
<div class="tag-list">
  <label>Tags:</label>
  <ul>
    {{ range . }}
    {{ $name := . }}
    {{ with $name | urlize | printf "/tags/%s" | site.GetPage }}
    <li class="Tags-item u-background">
      <a class="Tags-link u-clickable" href="{{ .Permalink }}" rel="tag">{{ $name }}</a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}