#main {
  margin-top: 1em;
}

article > footer {
  margin-top: 0.5em;
}

.container {
  max-width: 100%;
}

/* Tag List */

.tag-list {
  display: block;
  margin: 1em 0;
}

.tag-list label {
  float: left;
}

.tag-list ul {
  float: left;
  padding: 0;
  margin-left: 0.5em;
}

.tag-list li {
  display: inline;
}

.tag-list li::after {
  content: ',';
}

.tag-list li:last-child::after {
  content: '';
}

/* Table of Contents */

#TableOfContents>ul {
  list-style-type: none;
  padding: 0;
}
#TableOfContents > ul > li > ul {
  list-style-type: upper-roman;
  padding-left: 1.5em;
}

/* Hack that offsets anchor links */

:target:before {
  content: "";
  display: block;
  height: 90px;
  margin: -90px 0 0;
}